<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Ticket_sell</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>TicketInfo</servlet-name>
    <servlet-class>com.ppc.Ticket_sell.servlet.TicketManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketInfo</servlet-name>
    <url-pattern>/Page/ticketInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WorkerManage</servlet-name>
    <servlet-class>com.ppc.Ticket_sell.servlet.WorkerManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkerManage</servlet-name>
    <url-pattern>/Page/workerManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JobManage</servlet-name>
    <servlet-class>com.ppc.Ticket_sell.servlet.JobManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobManage</servlet-name>
    <url-pattern>/Page/jobManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JdManage</servlet-name>
    <servlet-class>com.ppc.Ticket_sell.servlet.JdManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JdManage</servlet-name>
    <url-pattern>/Page/jdManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TicketGet</servlet-name>
    <servlet-class>com.ppc.Ticket_sell.servlet.TicketGetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketGet</servlet-name>
    <url-pattern>/Page/ticketGet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TicketSell</servlet-name>
    <servlet-class>com.ppc.Ticket_sell.servlet.TicketSellServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketSell</servlet-name>
    <url-pattern>/Page/ticketSell</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PhoneUserManage</servlet-name>
    <servlet-class>com.ppc.Ticket_sell.servlet.PhoneUserManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhoneUserManage</servlet-name>
    <url-pattern>/Page/phoneUserManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContactsManage</servlet-name>
    <servlet-class>com.ppc.Ticket_sell.servlet.ContactsManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactsManage</servlet-name>
    <url-pattern>/Page/contactsManage</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>TicketReturn</servlet-name>
    <servlet-class>com.ppc.Ticket_sell.servlet.TicketReturnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketReturn</servlet-name>
    <url-pattern>/Page/ticketReturn</url-pattern>
  </servlet-mapping>
</web-app>